.chamber-cont {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
*{
    user-select: none;
}
.test-chamber{
    position: relative;
    height: 248%;
    top: -78%;
    background-image: url(../assets/images/backgrounds/chamber.jpg);
    background-repeat: no-repeat;
    background-size: 248% 100%;
    opacity: 1;
    display: inherit;
}

.explore-div{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    transition-duration: .5s;
}
.right-arrow{
    position: absolute;
    right: 0;
    width: 15%;
    cursor: pointer;
    transition-duration: .5s;
}

.click-div1 {
    position: absolute;
    height: 6.4%;
    width: 8%;
    bottom: 44%;
    right: 50.4%;
    cursor: pointer;
}
.click-div2{
    position: absolute;
    height: 11.4%;
    width: 15%;
    bottom: 29%;
    right: 59.4%;
    cursor: pointer;
}

.displaynone {
    display: none;
}

.pan {
    animation: pan 4s ease-in-out 0s 1;
    background-position: 94%;
    top: -98%;
}
.fadeaway {
    animation: fadeaway 1s linear 0s 1;
    opacity: 0;
    background-position: 94%;
    z-index: -1;
}
.fadeawayopp {
    animation: fadeaway 1.5s linear 0s 1 reverse;
    opacity: 1;
    background-position: 94%;
    z-index: 1;
}
.arrow-bounce{
    animation: arrowbounce 1s ease-in-out 0s infinite;
}

@keyframes arrowbounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pan {
    from {
        background-position: 0%;
        top: -78%;
    }
    to{
        background-position: 94%;
        top: -98%;
    }
}

@keyframes fadeaway {
    0% {
        opacity: 1;
        z-index: 1;
    }
    99% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}

@media only screen and (max-width : 660px), screen and (max-height : 370px){
    .mobile-modal{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #434444;
        z-index: 10;
    }
    .mobile-modal h3{
        color: #df9711;
        font-size: 30px;
        width: 90%;
        left: 5%;
        height: 80%;
        z-index: 11;
        text-align: center;
        top: 20%;
        position: absolute;
        font-family: 'Inconsolata', monospace;
    }
    .test-chamber{
        display: none;
    }
    .fadeawayopp {
        animation: none;
        opacity: 1;
        background-position: 94%;
        z-index: 1;
    }
    
}

@media only screen and (min-width : 661px) and (max-width : 371px){
    .mobile-modal{
        display: none;
    }
    
}
@media only screen and (max-height : 650px){
    .mac-window2{
        top: 4%;
        height: 92%;
    }
    .game-cont{
        height: 76vh;
        top: 5vh;
    }
    .bigger-text {
        display: none;
    }
    .bigger-text2 {
        display: initial;
        font-size: 14px;
        text-decoration: underline;
    }
    .mac-window {
        font-size: 13px;
    }
    .list-options{
        font-size: 12px;
    }
    .list-options span {
        font-size: 12px;
    }
}
@media only screen and (min-height : 651px){
    .bigger-text2{
        display: none;
    }
}
@media only screen and (max-width : 1250px){
    .window-text{
        font-size: 13.5px;
    }
    .top-window-text{
        font-size: 13.5px;
    }
    .list-options span {
        font-size: 12.5px;
    }
    .bigger-text{
        font-size: 15px;
    }
    
}
@media only screen and (max-width : 1100px){
    .mac-window2{
        left: 0px;
        width: 100%;
    }
}

@media only screen and (max-width : 800px){
    .text-to-be-typed {
        font-size: 12.5px;
    }
    .bigger-text{
        font-size: 13px;
    }
    .top-window-text{
        font-size: 12.5px;
    }
    .list-options span {
        font-size: 11px;
        padding: 0px 4px;
        left: 10px;
        position: relative;
    }


}


