html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 0;
  background-color: black;
}
/**********Main Window**********/
.main-cont {
	height: 100vh;
	background-image: url(../assets/images/terminal.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-size: 0;
    overflow: hidden;
    animation-delay: .5s;
    animation: maincontappear .9s linear 1 0s
}
.mac-window {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0%;
	position: relative;
	background-color: #434444;
	opacity: .9;
	animation-delay: 2s;
	animation: appeartwo .7s 1 0s linear;
	border-radius: 7px;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	margin: 0;
	box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
	border: .5px solid #adadad;
}
.mac-window * {
	margin: 0;
	color: #df9711;
}
.mac-window2{
	height: 85%;
	width: 70%;
	top: 7.5%;
	left: 15%;
	position: relative;
	background-color: transparent;
}
.top-window {
	position: relative;
	top: 0;
	width: 100%;
	background-color: #A0A3A5;
	border-radius: 6px 6px 0 0;
	text-align: center;
}
.top-window-text{
	position: relative;
	font-size: 15px;
	color: #000000;
	top: 0;
	font-weight: 600;
}
.window-text{
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	margin: 0;
	clear: left;
	float: left;
	left: 20px;
	position: relative;
}
.win-buttons {
	position: absolute;
	left: 12px;
	top: 2px;
	float: left;
	margin: 0;
}
.win-buttons a {
	cursor: pointer;
}
.button {
	display: inline-block;
	text-align: center;
	width: 11px;
	height: 11px;
	border: 0.5px solid;
	border-radius: 100px;
	vertical-align: middle;
	float: left;
	margin: 3px 7px 3px 0;
}
#close {
	background: #e25544;
	border-color: #d84b3a;
}
#min {
	background: #f5b640;
	border-color: #e0a12b;
}
#max {
	background: #7cb058;
	border-color: #6fa44b;
}
.hidden {
	display: none;
}
.list-options {
	position: absolute;
    left: 7.7%;
	top: 0;
}
.list-options span {
	font-size: 14px;
	color: #000000;
	padding: 0 5px;
	cursor: pointer;
}
.stats-cont{
	position: absolute;
	top: 10vh;
	left: 2%;
}

.bigger-text{
	font-size: 18px;
	font-weight: 600;
}
.underline-text{
	text-decoration: underline;
}
.window-shake{
	animation: windowshake .2s linear 0s 2;
}
/*********Game Container******/

.game-cont{
	display: inline-block;
	height:	65vh;
	width: 70%;
	position: relative;
	top: 7vh;
    left: 15%;
    margin-left: 15px;
}
.cake-cont {
	position: absolute;
	top: 0;
	z-index: 5;
	height: 100%;
    width: 100%;
    overflow: hidden;
    animation: cakecontappear 1.7s linear 1 0s;
}
.cake-cont img {
	width: 100%;
	position: absolute;
	top: 0;
}
.cake-cont p {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.no-pixel-cake {
	z-index: 4;
}
.pixel-cake {
	animation: cakeunpixel 2s linear 1 0s;
	z-index: 5;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	opacity: 0;
}

.terminal-appear {
	/*animation: terminal 1.5s 1 steps(55, end);*/
	overflow: hidden;
}
.terminal-appear .single-card-cont{
	animation: terminalcards 1.5s 1 linear;
	
}

/****** Animations *******/

@keyframes windowshake {
	0%{left:15%;}
	25%{left: 14%;}
	50%{left:15%;}
	75%{left: 16%;}
	100%{left: 15%;}
}

@keyframes cakecontappear {
	from { height: 0;
		   opacity: 0; }
	to {height: 100%;
	    opacity: 1;}
}
@keyframes cakeunpixel{
	0% {opacity: 1;}
	75%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes maincontappear{
	from {transform: scale(0);}
	to {transform: scale(1)}
}
@keyframes terminal {
	0% {top: 0vh;
		height: 0vh;}	
	100% {top: 5vh;
		height: 60vh;}	
}
@keyframes terminalcards {
	0% {top: -100%;
		opacity: 0;
		transform: scale(.7);}
	100% {top: 0;
		opacity: 1;
		transform: scale(1);}	
}
.appear {
	animation: appear .6s 1 linear;
}
@keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes appeartwo {
	0% {opacity: 0;}
	100% {opacity: .95;}
}
